.dialogs {
  display: grid;

  grid-template-columns: 20% 80%;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
}

.dialog a {
  text-decoration: none;
  color: black;
}

.dialog a.activeLink {
  color: blueviolet;
}

.messages {
  padding: 10px;
}

.message {
}
