.dialogs {
  display: grid;

  grid-template-columns: 20% 80%;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: rgb(98, 0, 255);
}

.dialog {
}

.dialog a {
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.message {
}
